.services{
    width: 100%;
    padding: 70px 0;
}

.services > h2{
    margin: 0 0 70px 70px;
    font-size: 1.8rem;
}

.servicesImgCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
